
@{
    ViewBag.Title = "Air Freight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Air Freight</h3>
        <p style="line-height:200%; text-align:justify">
            Our worldwide air freight management capability ensures that your cargo reaches any continent, country or city in the most cost effective way, 
            using the most reliable carrier and taking care of your required transit. Our global partnership agreements with major air carriers make it 
            possible that our customers always get priority and have access to the most competitive rates, have space confirmation to any part of the world in any season. Goods are collected at the point of origin cleared through customs and delivered to the end consignee, using the most cost effective and expedient route.
            <br><br>
            We monitor, track and provide progress reports at every point via our global tracking system, giving you complete visibility of the move and 
            peace of mind. Our customers never ask us for updates as they always get the update well in time.
            <br><br>
            <b>Our air freight services include: </b><br>
            Daily freight consolidations <br>
            Pre-allocated space with a choice of airlines <br>
            Secure warehousing if required <br>
            Pre-shipment inspection <br>
            Custom clearance <br>
            Packing services <br>
            Door-door air freight delivery service <br>
            Nationwide same day, or overnight collections <br>
            Web tracking <br>
            Insurance arranged <br>
            Express service <br>
        </p>
    </div>

    <div class="col-sm-4">
        <img src="/ClientResourcesFiles/img/airfreight01.jpg" alt="" class="img-responsive displayed"><br><br>
        <img src="/ClientResourcesFiles/img/airfreight02.jpg" alt="" class="img-responsive displayed"><br><br>
        <img src="/ClientResourcesFiles/img/airfreight03.jpg" alt="" class="img-responsive displayed">
    </div>
</div>

