
@{
    ViewBag.Title = "Associations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <h3 style="text-align:center">Associations</h3>
    <h3 style="text-align:center; color:#F35B00;">We are members of the following organizations:</h3>

    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo01.jpg" alt="" class="img-responsive"></div>
    <div class="col-sm-4"><p style="padding-top:30px">IATA ( International Air Transport Association)</p></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo02.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4"><p style="padding-top:20px">FIATA (International Federation of Freight Forwarders Association-Switzerland) </p></div>

    <div style="clear:both"></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo03.jpg" alt="" class="img-responsive "></div>
    <div class="col-sm-4"><p style="padding-top:30px">PIFFA (Pakistan International Freight Forwarders Association)</p></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo04.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4"><p style="padding-top:20px">WCA (World Cargo Alliance)</p></div>

    <div style="clear:both"></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo05.jpg" alt="" class="img-responsive "></div>
    <div class="col-sm-4"><p style="padding-top:30px">AOP (Air & Ocean Partners GmbH– Germany)</p></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo06.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4"><p style="padding-top:20px">WFN (World Freight Network Ltd-UK)</p></div>

    <div style="clear:both"></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo07.jpg" alt="" class="img-responsive "></div>
    <div class="col-sm-4"><p style="padding-top:30px">ACAAP (Air Cargo Agents Association of Pakistan)</p></div>
    <div class="col-sm-2"><img src="/ClientResourcesFiles/img/logo08.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4"><p style="padding-top:20px">LCCI (Lahore Chamber of Commerce & Industry) </p></div>

</div>

