
@{
    ViewBag.Title = "Custom Clearance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Custom Clearance</h3>
        <p style="line-height:200%; text-align:justify">
            Among the broad array of services and in order to provide one window operation, there also exists service of Custom Clearance. 
            We are providing efficient and trouble free custom clearing services for all types of product, whether by airfreight, sea freight 
            or road consignment from all major boarders, airports and sea ports of Pakistan to world-wide destinations.
            <br><br>
            Our people have updated knowledge of rules & regulations of customs which helps them to clear air, sea & road consignment of export 
            or import with ease. Our main services in custom clearing include advice to the clients in preparing documents i.e. consultancy, Follow up 
            & liasoning with various Govt Organizations, Documentation procedures – presentation & handling of documents and Completion of all post 
            shipment formalities and endorsements.
            <br><br>
        </p>
    </div>

    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/custom01.jpg" alt="" class="img-responsive displayed"></div>
    <div style="clear:both"></div>
    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/custom02.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/custom03.jpg" alt="" class="img-responsive displayed"></div>
    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/custom04.jpg" alt="" class="img-responsive displayed"></div>
</div>

