
@{
    ViewBag.Title = "Project Handling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Project Handling</h3>
        <p style="line-height:200%; text-align:justify">
            The handling of project cargo requires precise planning, special care, attention and a lot of expertise in international, intermodal and 
            overland transportation. Matrix Logistics has a specialized Projects Division handled by dedicated professionals. Our project team has the 
            capability and experience to handle big or small projects, managing the complete transportation and logistics of shipments. There is no load 
            too big or a job too complex for our project cargo team.
            <br><br>
            Project management team commence the process with a feasibility study, set it up for execution of the project right from placing of heavy 
            lift equipments and vehicles, loading, lashing, route survey, mobile escort during inland transportation, documentation, obtaining NOCs from different Govt ministries & departments, custom clearance, arranging the sea freight - either special equipments or break bulk movements and undertaking international customs procedures.
            <br><br>
        </p>
    </div>

    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/projecthandling01.jpg" alt="" class="img-responsive displayed"></div>
    <div style="clear:both"></div>

    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/projecthandling02.jpg" alt="" class="img-responsive displayed"><br><br></div>
    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/projecthandling03.jpg" alt="" class="img-responsive displayed"><br><br></div>
    <div class="col-sm-4" style="padding-top:30px;"><img src="/ClientResourcesFiles/img/projecthandling04.jpg" alt="" class="img-responsive displayed"><br><br></div>



</div>

