
@{
    ViewBag.Title = "RoadT ransportation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Road Transportation</h3>
        <h3 style="text-align:center; color:#F35B00;">Rahim Goods Transport System</h3>
        <p style="line-height:200%; text-align:justify">
            Matrix Logistics has its own road transport subsidiary under the name of Rahim Goods Transport System. We operate an integrated transport network with our extensive fleet of 
            vehicles to meet all sorts of needs. We undertake surface transportation by moving overweight, oversized & hazardous cargo as well as general cargo / general equipment within 
            Pakistan for inbound and outbound consignments. Matrix Logistic caters to the distribution and supply chain needs of local, regional and international manufacturers, distributors 
            and retailers from a diverse range of industries. Our experienced staff makes it possible to deliver anywhere in Pakistan in the most economical and expedient way.
            <br><br>
            We also have expertise and handling cargo by road to Afghanistan, Iran and to Central Asian States via Iran. Transportation by RAIL is also among our ongoing operations.
            <br><br>
            The contact for any of the transportation needs can be made to Matrix Logistics Head office or direct to below given particulars
            <br><br>
            <b>Contact Us:</b><br>
            Address:&nbsp;   Plot#84, Sabzazar Truck Stand Bund Road, Lahore - Pakistan.<br>
            Phone:&nbsp;&nbsp;&nbsp; +92-42-37538889 & +92-42-37533349<br>
            Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +92-42-37538884<br>
        </p>
    </div>

    <div class="col-sm-4" style="padding-top:30px;">
        <img src="/ClientResourcesFiles/img/road01.jpg" alt="" class="img-responsive displayed"><br>
        <img src="/ClientResourcesFiles/img/road02.jpg" alt="" class="img-responsive displayed">
    </div>

</div>

