
@{
    ViewBag.Title = "Sea Freight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Sea Freight</h3>
        <p style="line-height:200%; text-align:justify">
            Fully realizing the present day advancement in Sea freight transportation to different parts of the world, we have successfully made and maintained very professional business term with local
            shipping companies or their appointed agents. Among the activities of company, the sea freight transportation is promising to be our main business by which the company will gain its identification 
            as a leading shipping agent. Our focus is to keep strengthening our relations with ocean carriers based on the volume and to keep providing our local / overseas customers and associates priority 
            services at the most competitive cost. We are fully equipped in order to execute the shipment in the most economical and the fastest way. It includes the road transport, selection of carrier, taking 
            care of required transit & cost, documentation, custom clearance, complete door to door follow up and providing the POD to the concerns.
            <br><br>
            <b>Our Sea Freight Services Include: </b><br>
            Door to door freight forwarding services

            LCL services to world-wide destination<br>

            Cargo Insurance <br>

            Consular / Legalized documentation <br>

            Project sea freight cargo <br>

            Custom clearance<br>

            Packing <br>

            Web Tracking<br>

        </p>
    </div>

    <div class="col-sm-4">
        <img src="/ClientResourcesFiles/img/seafreight01.jpg" alt="" class="img-responsive displayed"><br><br>
        <img src="/ClientResourcesFiles/img/seafreight02.jpg" alt="" class="img-responsive displayed">

    </div>
</div>

