
@{
    ViewBag.Title = "Warehousing And Distribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Warehousing & Distribution</h3>
        <p style="line-height:200%; text-align:justify">
            Matrix Logistics offers full range of warehousing & distribution services in major cities of Pakistan. We offer these services for both short term and long term needs, so that you have the benefit of 
            flexibility in the way that you handle your shipping and storage needs. By your logistics and distribution taken care by a company with many years of experience, you can rest assure and relax that your 
            business has complete solution for all its logistic needs. Our warehouses are secure and fitted with alarms and sprinklers just to minimize the risk of theft or fire damage.
            <br><br>
            We provide warehouse and Distribution services, assuring top quality service to you and your customers. Our business is built upon a commitment to excellence that extends to every solution we deliver. 
            Locations and covered areas of warehouses are given below;
            <br><br>
            <b>KARACHI WAREHOUSE</b><br>

            100,000 SQ FT<br>

            <b>LAHORE WAREHOUSE</b><br>

            30,000 SQ FT<br>

            <b>ISLAMABAD WAREHOUSE</b><br>

            20,000 SQ FT<br><br>
        </p>
    </div>

    <div class="col-sm-4" style="padding-top:30px;">
        <img src="/ClientResourcesFiles/img/warehouse01.jpg" alt="" class="img-responsive displayed"><br>
        <img src="/ClientResourcesFiles/img/warehouse02.jpg" alt="" class="img-responsive displayed">
    </div>
    <div style="clear:both"></div>




</div>

