@model MyProject.Models.Users

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}


<div class="header">
  

    <h1 class="page-title">Delete User</h1>
    <ul class="breadcrumb">
        <li><a href="#">Home</a> </li>
        <li class="active">Delete User</li>
    </ul>
</div>


<div class="header">
    <h1 class="page-title">Are You Want To Delete This User?</h1>
</div>

<div class="main-content">

    @using (Html.BeginForm("DeleteUser", "UserManage", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UserId)
        <div class="row">
            <div class="col-md-6">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <div id="tab">
                            <div class="form-group">
                                User Name:  @Html.DisplayFor(x => x.UserName)
                            </div>

                            <div class="form-group">
                                Type:  @Html.DisplayFor(x => x.Type)
                            </div>

                        </div>
                    </div>
                </div>
                <div class="btn-toolbar list-toolbar">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Delete</button>
                    <a href="/AdminPanel/UserManage/AllUsers" class="btn btn-danger">Back</a>
                </div>
                <div class="modal-body">
                    <p class="error-text">@ViewBag.Message</p>
                </div>
            </div>
        </div>

    }
</div>
