ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:transparent;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#FFFFFF;border-width:2px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;border-style:solid none none none;border-color:#1D415B;-moz-box-shadow:rgba(0,0,0,0.2) 4px 4px 0px;-webkit-box-shadow:rgba(0,0,0,0.2) 4px 4px 0px;box-shadow:rgba(0,0,0,0.2) 4px 4px 0px;padding:0;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:14px Verdana,Geneva,sans-serif;color:#FFFFFF; font-weight:bold; cursor:pointer;padding:18px 15px 21px 5px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:10px 13px;background-color:#FFFFFF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:15px Verdana,Geneva,sans-serif;color:#2C3736;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#67B7E1;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:18px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowmain.png");background-position:right center;background-repeat:no-repeat;padding-right:16px;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:18px 15px 21px 5px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#20425D;-moz-box-shadow:0 8px #20425D, 0 16px #20425D;-webkit-box-shadow:0 8px #20425D, 0 16px #20425D;box-shadow:0 8px #20425D, 0 16px #20425D;}
ul#css3menu1 > li.switch:hover:before{
	background:#1D415B;-moz-box-shadow:0 8px #1D415B, 0 16px #1D415B;-webkit-box-shadow:0 8px #1D415B, 0 16px #1D415B;box-shadow:0 8px #1D415B, 0 16px #1D415B;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	border-style:none;color:#67B7E1;text-decoration:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li > a.pressed{
	background-color:#1D415B;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;color:#20425D;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu > a.pressed{
	color:#1D415B;}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 759px) {
	ul#css3menu1 {
		width: 100%; background-color:#EDF7FD;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}
	
@media screen and (max-width: 640px) {
	ul#css3menu1 {
		width: 100%; background-color:#EDF7FD;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}
	
@media screen and (max-width: 480px) {
	ul#css3menu1 {
		width: 100%; background-color:#EDF7FD;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}
	
@media screen and (max-width: 320px) {
	ul#css3menu1 {
		width: 100%; background-color:#EDF7FD;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}